// app/assets/stylesheets/application.scss

@import 'bootstrap';

.jumbotron {
  background: white;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

.image_wrapper {
  margin-bottom: 50px;
  text-align: center;
}

.row {
  margin-bottom: 30px;
}
