<div class="makeme card border-info glass1">
<div class="container">


<h1>About Me</h1>
<p>Hey ! you can read about me or checkout my blogs</p>

<%= link_to 'Home' ,root_path ,class:"btn btn-outline-dark btn-lg"%>
</div>
</div>