<div class="jumbotails">
<div class="container">
<h1>My Personal Home Page </h1>
<p>Hey! Welcome to my blogs.</p>

<%= link_to 'About Me' ,about_path , class:" btn btn-lg btn-outline-success" %>

<%= link_to 'See Blogs' ,posts_path ,class:"btn btn-lg btn-outline-info" %>
</div>
</div>