<div class="makeme card border-primary glass3">
<div class="container">
<h1>My Personal Home Page </h1>
<p>Hey! Welcome to my blogs.</p>


<br>
<p><em>"Creativity is intelligence having fun." - <b>Albert Einstein </b></em></p>
<br>

<!-- <div class="d-grid gap-3"> -->
<%= link_to 'About Us' ,about_path , class:" btn btn-lg btn-outline-success fa-solid" %>

<%= link_to '  See Blogs' ,posts_path ,class:"btn btn-lg btn-outline-info fa-solid fa-book" %>
<!-- </div> -->
</div>
</div>

