<div id="<%= dom_id post %>">
<div class="container">

  <p>
    <strong>Title:</strong>
    <%= post.title %>
    <h6><%= pluralize(post.view,"view") %></h6>
  </p>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>

</div>
</div>