

<p style="color: green"><%= notice %></p>
<div class=" indexview card text-center p-3 mb-2  text-emphasis-info border-info glass3">
<div class="container ">
  <div class ="card-header">
    <br>
<h1>All Posts <i class="fa-thin fa-face-awesome"></i></h1>
<br>
</div>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class:"btn btn-lg btn-outline-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class:"btn btn-lg btn-outline-primary " %>
</div>