<p style="color: green"><%= notice %></p>
<div class="container">
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class:"btn btn-lg btn-outline-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class:"btn btn-lg btn-outline-primary " %>
</div>